.homepage_container {
    display: flex;
    width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right_side_container{
    flex: 60%; /* Takes up 60% of the flex container's width */
    height: 100%; /* Full height */
    background-color: #f0f0f0; /* Example background color */
    /* Align content to the right side */
    justify-content: flex-end;
}
.left_side_container {
    flex: 40%; /* Takes up the remaining 40% of the flex container's width */
    display: flex;
    flex-direction: column; /* Stack child divs vertically */
  }
  .left_side_top, .left_side_bottom {
    flex: 50%; /* Each takes up half of the .left_side_container */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
  }

  .left_side_top{
    background-color: #3bb19b;

  }
  .left_side_bottom {
    background-color: #3bb19b;

  }
.crypto_Id_List{}